.header-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-block: 20px;
  box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
}
h1 {
  font-size: 30px;
  line-height: 1.5em;
  font-family: "Playfair Display", serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #333333;
}
main {
  padding: min(50px, 7%);
}
.card {
  padding: 2em;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  color: #374151;
}
.card > span{
  background-color: #F4F4F4;
  margin-left: 5px;
  padding: 8px;
  border-radius: 50px;
  color: #666f84;
}
.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  gap: 15px;
  justify-content: center;
}
.card > button > a{
  text-decoration: none;
  color: white;
}
.card > button{
  background-color: #315E8C;
  transition: opacity 0.3s ease;
  padding: 10px 15px;
  color: white;
  border-radius: 5px;
  border: none;
}
.card > button:hover{

  opacity: 0.8;
}
