.search {
  width: 30vw;
  position: relative;
  display: flex;
}
.searchTerm {
  width: 100%;
  padding: 11px 12px 11px 36px;
  border: 1px solid #ccc;
  border-radius: 6px;
  background: url('/icons/search.png') no-repeat 10px center;
  background-size: 16px;
   outline: none; 
   color: #5F6368;
}
.searchTerm:focus{
border: 1px solid dodgerblue;
}
